@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
}
.left-section {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32%;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);;
    position: relative;
}
.front-card {
    position: absolute;
    top: 16%;
    left: 32%;
}
.front-card > img {
    width: 28em;
}
.front-card-content {
    position: absolute;
    top: 12%;
    left: 8%;
    width: 85%;
}
.front-card-content h1 {
    margin-block: 55px 28px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 4px;
    color: hsla(0, 0%, 100%, 0.927);
}
.card-information {
    display: flex;
    justify-content: space-between;
}
.card-name {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color: hsla(0, 0%, 100%, 0.869);
}
.card-month {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.794);
    letter-spacing: 1.2px;
}
.card-year {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.794);
    letter-spacing: 1.2px;
}
.expiry {
    letter-spacing: -1.2px;
}
.back-card {
    position: absolute;
    top: 52%;
    left: 54%;
}
.back-card-content {
    position: absolute;
    top: 45%;
    left: 80%;
}
.cvv {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.937);
}
.right-section {
    position: relative;
    left: 25%;
}
.right-section fieldset {
    margin-block: 7px 25px;
    border: none;
}
label {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: hsla(278, 68%, 11%, 0.816);
    letter-spacing: 1.5px;
}
input {
    border: 1px solid hsl(270, 3%, 87%);
    padding: 13px;
    border-radius: 8px;
    width: 15.4em;
    
}
::placeholder {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    color: hsla(279, 6%, 55%, 0.434);
    font-size: 18px;
}
.name-input {
    width: 27.8em;
}
.number-input {
    width: 27.8em;
}
.month-input {
    width: 72px;
}
.year-input {
    width: 72px;
}
.expiry-input {
    /* display: flex; */
    gap: 0.5em;
}
.expiry-details,
.cvv-details {
    display: flex;
    flex-direction: column;
}
.expiry-n-cvv {
    display: flex;
    gap: 1em;
}
.btn {
    padding: 17px;
    width: 23.5em;
    border: none;
    color: hsla(0, 0%, 100%, 0.854);
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
}
.complete {
    position: relative;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.complete h1 {
    margin-block: 30px 20px;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    color: hsl(278, 68%, 11%);
}
.complete span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: hsla(279, 6%, 55%, 0.874);
    letter-spacing: 1px;
}
.complete button {
    margin-top: 45px;
    color: hsla(0, 0%, 100%, 0.809);
}
.hidden {
    display: none;
}
.error-msg {
    font-family: "Space Grotesk", sans-serif;
    color: red;
    font-size: 12px;
    margin-top: 6px;
}
/* Responsiveness for mobile and tablets */

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .left-section {
        background-image: url(images/bg-main-desktop.png);
        width: 100%;
        height: 75vh;
    }

    .front-card {
        top: 20%;
        left: 12%;
    }

    .back-card {
        top: 58%;
        left: 26%;
    }

    .right-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        padding: 40px;
    }

    .name-input {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .number-input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .month-input {
        text-align: center;
        width: 48%;
    }

    .cvv-input {
        width: 100%;
        text-align: center;
    }

    .year-input {
        width: 48%;
        text-align: center;
    }

    .expiry-n-cvv {
        gap: 9.7em;
    }

    .cvv-details {
        width: 50%;
    }

    .front-card>img {
        width: 30em;
    }

    .back-card>img {
        width: 30em;
    }

    .complete {
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }

    .complete button {
        margin-bottom: 25px;
    }

    .complete>img {
        width: 13em;
    }

    .complete h1 {
        font-size: 35px;
    }

    .complete span {
        font-size: 25px;
    }

    .complete .btn {
        width: 30em;
    }
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        height: unset;
    }
    .left-section {
        background-image: url(images/bg-main-mobile.png);
        width: 100%;
        min-height: unset;
        height: 28vh;
    }
    .front-card {
        top: 51%;
        left: 5%;
        z-index: 2;
    }
    .front-card > img {
        width: 20em;
    }
    .back-card {
        top: 12%;
        left: 16%;
        z-index: 1;
    }
    .back-card > img {
        width: 20em;
    }
    .right-section {
        left: 0;
        margin-top: 110px;
    }
    .front-card-content > img {
        width: 3.5em;
    }
    .front-card-content h1 {
        margin-block: 35px 18px;
        font-size: 20px;
        letter-spacing: 2.4px;
    }
    .card-name {
        font-size: 12px;
        letter-spacing: 1.6px;
    }
    .card-month {
        font-size: 12px;
    }
    .card-year {
        font-size: 12px;
    }
    .expiry {
        display: flex;
        letter-spacing: 1.3px;
    }
    .back-card-content {
        top: 42%;
        left: 78%;
    }
    .cvv {
        font-size: 12px;
    }
    .complete {
        left: 0;
        margin-top: 120px;
    }
    .complete button {
        margin-top: 60px;
    }
}

@media (min-width: 181px) and (max-width: 389px) {
    .back-card {
        left: 23%;
    }
    .front-card {
        top: 52.3%;
        left: 7%;
    }
    .name-input {
        width: 23em;
    }
    .number-input {
        width: 23em;
    }
    .btn {
        width: 19.5em;
        padding: 15px;
    }
    .cvv-input {
        width: 10.5em;
    }
    .month-input {
        width: 70px;
    }
    .year-input {
        width: 70px;
    }
    .front-card > img {
        width: 16em;
    }
    .back-card > img {
        width: 16em;
    }
    .front-card-content > img {
        width: 3em;
    }
    .front-card-content h1 {
        letter-spacing: 2.1px;
        font-size: 16px;
        margin-block: 26px 15px;
        text-decoration: none;
    }
    .back-card-content {
        top: 41%;
        left: 76%;
    }
        .complete {
            left: 0;
            margin-top: 120px;
        }
    
        .complete button {
            margin-top: 60px;
        }
}
.hidden {
    display: none;
}